/* General Stylesheet */
html {
    width: 100%;
    height: 100%;
    /box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

.fa {
    display: inherit !important;
 }

/* TEXT STYLES */
h4.title-h4 { font-size: 36px; line-height: 38px; }
h5.title-h5 { font-size: 26px; line-height: 24px; }

p.title-p-1 { font-size: 24px; line-height: 28px; }
p.title-p-2 { font-size: 20px; line-height: 24px; }

.weight50 { font-weight: 50; }
.weight100 { font-weight: 100; }
.weight200 { font-weight: 200; }
.weight300 { font-weight: 300; }

.margin-5 { margin: 5px; }

.margin-top-5 { margin: 5px 0 0 0; }
.margin-right-5 { margin: 0 5px 0 0; }
.margin-bottom-5 { margin: 0 0 5px 0; }
.margin-left-5 { margin: 0 0 0 5px; }

a.link-1 { font-size: 14px; line-height: 16px; }

a.footer-link-1 { font-size: 14px; line-height: 16px; }


.logo-200 {
    max-width: 200px;
}

.logo-text-60 {
    width: 60%;
}

.logo-text-55 {
    width: 55%;
}


.padding-top-20 { padding-top: 20px; }
.padding-top-30 { padding-top: 30px; }

/* Topbar */
.topbar {
    background: #bdbdbd;
}

.topbar:before,
.topbar:after {
    display: block;
    content: " ";
}

.topbar:after {
    clear: both;
}

.topbar .topbar-logo {
    display: inline-block;
    float: left;
    padding: 15px 20px;
    vertical-align: middle;
}

.topbar .topbar-logo img {
    vertical-align: middle;
}

.topbar .topbar-link,
.topbar .topbar-purchase {
    display: inline-block;
    float: right;
    font-size: 13px;
    /*color: #87929c;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 16px;
    word-spacing: 2px;
    font-weight: 500;
}

.topbar .topbar-link:hover,
.topbar .topbar-purchase:hover {
    text-decoration: none;
}

.topbar .topbar-purchase {    
    background: #20272c;
    padding: 12px 20px;
    margin-top: 14px;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 13px;
    /*color: #25bbd6;*/
}

.topbar .topbar-purchase:hover {

}

.topbar .topbar-sep {
    height: 70px;
    width: 1px;
    display: inline-block;
    float: right;
    border-left: 1px solid #313940;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

#sidenav-overlay {
z-index: 1;
}

.button-collapse {
  color: #bf360c;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  /*height: auto;*/
}
.parallax-container .section {
width: 100%;
}

.parallax-access {
  min-height: 100%;
  line-height: 0;
  /*height: auto;*/
}

.parallax-access img.full-bg-1 {
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-header-1 {
    font-size: 30px;
    line-height: 41px;
    font-weight: 400;
    /*color: #FFF;*/
    text-align: center;
    margin-bottom: 28px;
}

.content-header {
    font-size: 30px;
    line-height: 41px;
    font-weight: 400;
    /*color: #FFF;*/
    text-align: center;
    margin-bottom: 28px;
}

.content-content p {
    font-size: 22px;
    line-height: 25px;
    font-weight: 300;
   /* color: #FFF;*/
    text-align: center;
}

section {
    width: 100%;
    min-height: 100%;
    padding: 50px 0 50px 0;
    margin: 0;
}

section.pre-footer {
    min-height: 235px;
    /*padding: 20px;*/
    margin: 0;
    bottom: 0;
}

/* Footer */
footer {
    position: absolute;    
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 1rem;    
    background: #1e1e1e;
    text-align: center;
}

img.footer-logo {
    padding: 0;
    margin: 0;
}

.copyright {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.copyright a {
    font-size: 15px;
    /*color: #b9b9b9;*/
    font-weight: 300;
    text-decoration: none;
}
/* Footer */

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    min-height: 200px;
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}